.pricing {
    
    
    &__mean {
        display: flex;
        gap: 20px;
    }

    &__first {
        display: flex;
        width: 363px;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        
        border-radius: 8px;
        background: var(--dark-2, #2D2B29);
    }

    &__entry {
        color: var(--c-text-white);
        font-family: var(--ff);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__number {
        color: var(--c-text-white);
        font-family: var(--ff);
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__desc {
        color: var( --c-desc);
        font-family: var(--ff);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 35px;

    }
    &__content{
        width: 299px;
        height: 1px;
        background: rgba(255, 255, 255, 0.15);
        margin-bottom: 35px;
    }

    &__btn {
        color:var(--c-text-white);
        font-family: var(--ff);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        padding: 13px 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        border: 1px solid var(--primary, #ED9902);
        margin-bottom: 35px;
    }

    &__btn2{
        color: var(--c-text-white);
        font-family: var(--ff);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 5px;
        display: flex;
        padding: 13px 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--primary, #ED9902);
        background: var(--primary, #ED9902);
        margin-bottom: 35px;
    }

    &__list {
        color: #A19A8B;
        font-family: var(--ff);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
